site_name: fluxa
site_description: Content aware AI agent based on local running models (LMstudio)
site_url: https://devfrx.github.io/fluxa.git
repo_url: https://github.com/devfrx/fluxa.git
repo_name: devfrx/fluxa.git

theme:
  name: material

nav:
  - Home: index.md
  - Reference: reference.md

watch:
  - src

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
